/* Start of ... */

.navbar-brand{
    height: 9%;
    width: 16%;
}

/* Start of ... */

.projectName{
    font-size: large;
    color: white;
}

/* Start of the Progress bar */

.containerProgressbar{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Progressbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1250px;
    width: 100%;
}

.Progressbar .steps{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    color: #999;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #e0e0e0;
}

.Progressbar .stepNaming{
    display: flex;
    width: 100%;
    align-items: left;
    justify-content: space-between;
    position: relative;
}

.stepNaming .stepTitle {
    font-size: 12px;
    width: 75px;
}

.stepNaming .stepTitle.active {
    font-size: 12px;
    font-weight: 700;
    color: #474747;
    width: 75px;
}

.steps .circle.active{
    border: 6px solid orange;
}

.steps .progressLine {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #e0e0e0;
    z-index: -1;
}

.progressLine .indicator {
    position: absolute;
    height: 100%;
    width: 0%;
    background: orange;
}

.Progressbar .buttons {
    display: flex;
    gap: 50px;
}

.buttons button {
    padding: 8px 25px;
    background: orange;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.buttons button:disabled {
    background: rgb(204, 185, 151);
    cursor: not-allowed;
}

.containerTableStructure{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 1250px;
}

.row .col-8 {
    padding-left: 0;
    padding-bottom: 25px;
}

.row .col-8 .tableOne {
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    background: #f3f2f2;
    border: 1px solid rgb(184, 184, 184);
}

.row .col-4 {
    padding: 0;
}

.verticalLine {
    border-left: 1px solid rgb(184, 184, 184);
    height: 70px;
}

.tableOneStart {
    padding-left: 25px;
    padding-right: 120px;
}

.tableOneMiddle {
    padding-left: 25px;
    padding-right: 150px;
}

.tableOneEnd {
    padding-left: 25px;
}

.row .col-8 .tableTwo {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    background: #f3f2f2;
    border: 1px solid rgb(184, 184, 184);
}

.tableTwo .tableTwoStart {
    display: flex;
}

.mainTitle {
    font-size: 20px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.tableTwo .subtitleTable {
    padding-left: 25px;
    padding-right: 50px;
}

.tableTwo .textTable {
    padding-right: 25px;
}

.row .col-4 .tableThree {
    padding-top: 15px;
    padding-bottom: 5px;
    height: 310px;
    background: #f3f2f2;
    border: 1px solid rgb(184, 184, 184);
    
}

.tableThree .documentFile {
    display: flex;
    padding-top: 15px;
}

.iconDocuments {
    color: orange;
}

.horizontalLine{
    border-bottom: 1px solid rgb(184, 184, 184);
    height: 10px;
    width: 350px;
    margin-left: 25px;
}

.documentFile .iconFile{
    padding-left: 25px;
}

.documentFile .documentTitle{
    color: black;
    padding-left: 15px;
    padding-right: 195px;
}

.containerFooter {
    display: flex;
}